@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family:'rajdhani' ;
    src: url(../Rajdhani-Medium.ttf);
}

/* Styles pour l'ensemble du document */
html {
    position: relative;
    z-index: 1;
  }
  
  body {
    position: relative;
    z-index: 2;
  }
/* Couleurs personnalisées */
:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color:#fff;
    --gradient-white:#eddebf67;
    --gradient-red:#89000978;
    --black-color: #000;
}
/* Réinitialisation des styles par défaut */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.fleche:hover {
  background-color: #b6b2b2;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: black;
    color: var(--white-color);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

.up-bar {
    border-top: #807e7e7c 2px solid;
    position: relative;
    top: 132px;
    width: 86%;
    left: 102px;
}

.left-bar,
.right-bar {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #807e7e7c;
  z-index: 4;
}

.left-bar {
  left: 102px;
}

.right-bar {
  right: 88px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 15px;
}

ul{
    list-style: none;

}

nav ul a{
    color: var(--white-color) ;
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
    text-decoration: none;

}

nav ul a:hover{
    color: var(--yellow-color);
}

.logo:hover {
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}


#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .titre{
    margin: 20px 0;
}

h1, h2, h3, p {
    opacity: 0;
    position: relative;
    left: -100%;
    animation: fade-in 2s ease-out forwards;
}
  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      left: -50%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
}

.batman-personnage {
    opacity: 0;
    position: relative;
    left: -100%;
    animation: fade-in 2s ease-out forwards;
}
  
/*responsive*/

@media (max-width: 600px) {
    .cont {
        width: 60%;
    }
    .logo {
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    
    .cont {
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 80%;
    }
    .logo {
        max-width: 120px;
    }
}

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--black-color) 15px 15px 50px;
}

.btn:hover {
    background: linear-gradient(80deg, #c0c0c0, #c90000);
    color: #ffffff;
}
/* Styles pour les groupe de boutons */
.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 39px;
    top: 230px;
    z-index: 10;
}

.scroll .social{
    margin-top: 15px;
    width: auto;
}

.scroll img {
    margin: 0 10px;
    cursor: pointer;
    width: 80px;
}
  
.scroll img:hover {
       -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
       filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

.social-footer img:hover {
      -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
      filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

#batman-cinema, #batman-justice-league, #nemesis, #Alliés{
    margin-top: 40px;
}

.enemies{
    display: inline-block;
}

.batman-personnage{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.batman-item{
    transition: transform 0.3s ease-in-out;
}

.batman-item:hover{
    transform: scale(1.1);
}

#batman-cinema .titre, #batman-justice-league .titre, #némésis .titre, #Alliés .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinema .description, #némésis .description, #Alliés .description, #batman-justice-league .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}

#batman-cinema .personnage-info{
    text-align: center;
}

/* Styles pour la mise en page de l'image et du texte superposés */
.imgtxt {
    position: relative;
    width: 100%;
}

.imgtxt {
    display: inline-flex;
}

h1{
    position: relative;
    z-index: 1;
}

/* Styles pour la superposition de contenu */
.superpose{
    position: absolute;
    top: -70px;
    right: 70px;
    left: 60px;
    z-index: 2;
}

.pose{
    position: absolute;
    top: -150px;
    right: 0px;
    left: 720px;
    z-index: 2;
    width: 500px; 
    height: 250px;
}

/* Espacement vertical */
.espace-vertical {
    height: 65px;
}

/* Styles pour les boutons du multimédia */
#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia .right{
    right: -85%;
}

#multimedia .left{
    left: 5%;
}

/* Styles pour le contenu du slider multimédia */
#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image{
    width: 100%;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(
        143deg,
        rgba(237, 222, 191, 0.4),rgba(25, 88, 125, 0.4) 80%
      );;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia p{
    font-size: 14px;
}

#multimedia .yellow{
    color: var(--yellow-color);
}

/* Styles pour les boutons gauche et droite lorsqu'ils sont survolés */

.left:hover,
.right:hover {
  background-color: white;
  color: black;
}

/* Styles pour la video */
.video-container {
    text-align: center;
}

/* Styles pour l'image de la bande d'annonce */

.image-bande-annonce {
    display: inline-block;
}

/* Styles pour la section de contact */

#contact{
    background: linear-gradient(
    143deg,
    rgba(237, 222, 191, 0.4),rgba(25, 88, 125, 0.4) 80%);
    padding: 70px 0;
    position: relative;
    z-index: 5;
}


.jl .right-bar,
.jl .left-bar,
section#contact .right-bar,
section#contact .left-bar {
    display: none;
}
#contact .form{
    width: 70%;
    margin: 0 auto;
    margin-left: 300px;
}

#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre{
    display: block;
    margin: 28px 0;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(120, 120, 120);
    background-color: transparent;
    padding: 10px 0;
}

#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid rgb(120, 120, 120);
    width: 80%;
}

#contact .icon img{
    margin-left: 235px;
    transform: rotate(90deg);
    width: 20px;
}
/* Styles pour les placeholders des champs de saisie */

::-webkit-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::-moz-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

:-ms-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::-ms-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}


/* Styles pour la liste de jeux */

.jl{
    width: 100%;
    position: relative;
    z-index: 5;
}

/* Styles pour les menus déroulants */

.dropdown{
    position: relative;
    display: table;
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    width: fit-content;
}

.dropdown-content{
    display: table-column;
    position: relative;
    z-index: 1;
    padding: 14px;
    margin-left: -47px;
}

.dropdown
span{
    font-size: 16px;
    border-bottom: 2px solid #c0c0c0a2;
    margin-left: -38px;
}

.dropdown-content a{
    font-family: rajdhani;
    font-size: 25px;
    display: flex;
    color: rgb(251, 252, 252);
    height: 50px;
    text-decoration: none;
    text-align: center;
    border-bottom: #a8a8a8a4 1px solid;
    background: linear-gradient(143deg,rgba(237, 222, 191, 0.4),rgba(25, 88, 125, 0.4) 80%);
}


.popup{
    width: 200px;
}

/* Styles pour les étiquettes des boutons */
.btn-group{
    width: 80%;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    -o-border-image: linear-gradient(69deg, rgba(255, 230, 0, 0.514), rgba(0, 162, 255, 0.596)) 1;
    border-image: linear-gradient(69deg, rgba(255, 230, 0, 0.514), rgba(0, 162, 255, 0.596)) 1;
    font-size: 20px;
}
.confirmer{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));;
    background: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));
}

.confirmer:hover{
    background: linear-gradient(80deg, #c0c0c0, #c90000);
    color: #ffffff;
}

/* Masque les boutons radio */

.form input[type='radio']{
    opacity: 0;
}



/* Styles pour le bouton de soumission */

input[type='submit']{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;    
}

/* Styles pour la section des citations */

#citations{
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-auteur{
    padding-top: 30px;
    font-size: 14px;
    font-family: 'radjhani';
}

#citations .guillemet-close{
    float: right;
}

.ltr{
    color: rgb(0, 195, 255);
    font-size: 8px;
}

/* Styles pour le pied de page */

footer{
    margin-top: 162px;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px 0;
}

footer .social-item{
    padding: 15px;
}

/* Styles pour le barres de défilement */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #000000;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Styles pour iframes */
iframe{
    align-self: center;
    width: 560px;
    height: 400px;
    border: none;
    margin: 0 auto;
    display: block;
    border: 0;
}
