@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family:'rajdhani' ;
    src: url(../Rajdhani-Medium.ttf);
}

@font-face{
    font-family: 'space-grotesk';
    src: url(../Spacegrotesk.ttf);
}

/* Styles pour l'ensemble du document */
html {
    position: relative;
    z-index: 1;
  }
  
  body {
    position: relative;
    z-index: 2;
  }
/* Couleurs personnalisées */
:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color:#fff;
    --gradient-white:#eddebf67;
    --gradient-red:#89000978;
    --black-color: #000;
}
/* Réinitialisation des styles par défaut */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.fleche:hover {
  background-color: #b6b2b2;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: black;
    color: var(--white-color);
    font-family: 'Space-grotesk', sans-serif;
    font-weight: 300;
}

.up-bar {
    border-top: #807e7e7c 2px solid;
    position: relative;
    top: 132px;
    width: 86%;
    left: 102px;
}

.left-bar,
.right-bar {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #807e7e7c;
  z-index: 4;
}

.left-bar {
  left: 102px;
}

.right-bar {
  right: 88px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 15px;
}

ul{
    list-style: none;

}

nav ul a{
    color: var(--white-color) ;
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
    text-decoration: none;

}

nav ul a:hover{
    color: var(--yellow-color);
}

.logo:hover {
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}


#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .titre{
    margin: 20px 0;
}

h1, h2, h3, p {
    opacity: 0;
    position: relative;
    left: -100%;
    animation: fade-in 2s ease-out forwards;
}
  
  
@keyframes fade-in {
    0% {
      opacity: 0;
      left: -50%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
}

.batman-personnage {
    opacity: 0;
    position: relative;
    left: -100%;
    animation: fade-in 2s ease-out forwards;
}
  

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--black-color) 15px 15px 50px;
}

.btn:hover {
    background: linear-gradient(80deg, #c0c0c0, #c90000);
    color: #ffffff;
}
/* Styles pour les groupe de boutons */

.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 39px;
    top: 230px;
    z-index: 10;
}

.scroll .social{
    margin-top: 15px;
    width: auto;
}

.scroll img {
    margin: 0 10px;
    cursor: pointer;
    width: 80px;
}
  
.scroll img:hover {
       -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
       filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

.social-footer img:hover {
      -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
      filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

#batman-cinema, #batman-justice-league, #nemesis, #Alliés{
    margin-top: 40px;
}

.enemies{
    display: inline-block;
}

.batman-personnage{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


#batman-cinema .titre, #batman-justice-league .titre, #némésis .titre, #Alliés .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinema .description, #némésis .description, #Alliés .description, #batman-justice-league .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}



.batman-item {
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
  .batman-item:hover {
    transform: scale(1.1);
  }
  
  .pochette {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.532);
    padding-top: 5px;
    border: 2px solid rgba(73, 72, 72, 0.479);
    display: none;
    height: 100px;
  }
  
  .batman-item:hover .pochette {
    display: block;
  }
  
  .personnage-info {
    align-items: center;
    background: linear-gradient(90deg, rgba(237, 222, 191, 0.3) 30%, rgba(137, 0, 8, 0.3) 100%);
    border-radius: 30px;
    margin: 20px 40px;
    width: 80%;
    height: 60px;
    margin-left: 10px;
    font-size: 20px;
  }
  
  .personnage-info h3 {
    font-size: 13px;
    padding: 15px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: none;
    opacity: 100;
    left: 0%;
  }
  
  .personnage-info p {
    color: #f8f184;
    font-weight: normal;
    font-size: 9px;
    animation: none;
    opacity: 100;
    left: 0%;
  }
  
  .personnage-info .miniature {
    float: left;
    display: block;
    max-width: 70px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
   
  }
  
  .pochette * {
    margin: 0;
    padding: 0;
  }
  

/* Styles pour la mise en page de l'image et du texte superposés */
.imgtxt {
    position: relative;
    width: 100%;
}

.imgtxt {
    display: inline-flex;
}

h1{
    position: relative;
    z-index: 1;
}

/* Styles pour la superposition de contenu */
.superpose{
    position: absolute;
    top: -70px;
    right: 70px;
    left: 60px;
    z-index: 2;
    width: 150px;
    height: 150px;
}

.pose{
    position: absolute;
    top: -150px;
    right: 0px;
    left: 63%;
    z-index: 2;
    width: 500px; 
    height: 250px;
}

/* Espacement vertical */
.espace-vertical {
    height: 65px;
}

/* Styles pour les boutons du multimédia */
#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia .right{
    right: -85%;
}

#multimedia .left{
    left: 5%;
}

/* Styles pour le contenu du slider multimédia */
#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image{
    width: 100%;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(143deg,rgba(237, 222, 191, 0.4),rgba(25, 88, 125, 0.4) 80%);;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia p{
    font-size: 14px;
}

#multimedia .yellow{
    color: var(--yellow-color);
}

/* Styles pour les boutons gauche et droite lorsqu'ils sont survolés */

.left:hover,
.right:hover {
  background-color: white;
  color: black;
}

/* Styles pour la video */
.video-container {
    text-align: center;
}

/* Styles pour l'image de la bande d'annonce */

.image-bande-annonce {
    display: inline-block;
}

/* Styles pour la section de contact */

#contact{
    background: linear-gradient(
    143deg,rgba(237, 222, 191, 0.6),rgba(2, 94, 148, 0.6) 80%);
    padding: 70px 0;
    position: relative;
    z-index: 5;
}

.jl{
    width: 100%;
    position: relative;
    z-index: 5;
}

.jl .right-bar,
.jl .left-bar,
section#contact .right-bar,
section#contact .left-bar {
    display: none;
}


#contact .form{
    width: 70%;
    margin: auto;
    margin-left:250px;
}


#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre{
    display: block;
    margin: 28px 0;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(120, 120, 120);
    background-color: transparent;
    padding: 10px 0;
}

#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid rgb(120, 120, 120);
    width: 80%;
}

#contact .icon img{
    margin-left: 150px;
    transform: rotate(90deg);
    width: 20px;
}
/* Styles pour les placeholders des champs de saisie */

::-webkit-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::-moz-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

:-ms-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::-ms-input-placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}

::placeholder{
    color: #ffffff;
    font-size: 15px;
    font-family: rajdhani;
}


/* Styles pour les menus déroulants */

.dropdown{
    position: relative;
    display: table;
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    width: fit-content;
}

.dropdown-content{
    display: table-column;
    position: relative;
    z-index: 1;
    padding: 14px;
    margin-left: -47px;
}

.dropdown
span{
    font-size: 16px;
    border-bottom: 2px solid #c0c0c0a2;
    margin-left: -38px;
}

.dropdown-content a{
    font-family: rajdhani;
    font-size: 25px;
    display: flex;
    color: rgb(251, 252, 252);
    height: 50px;
    text-decoration: none;
    text-align: center;
    border-bottom: #a8a8a8a4 1px solid;
    background: linear-gradient(143deg,rgba(237, 222, 191, 0.5),rgba(25, 88, 125, 0.5) 80%);
}


.popup {
    display: none;
    position: relative;
    transform: translate(-50%, -50%);
    background: linear-gradient(143deg,rgba(237, 222, 191, 0.7),rgba(25, 88, 125, 0.7) 80%);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: 50%;
  }
  
  .popup
  p{
    font-weight: bold;
    text-align: center;
  }
  


/* Styles pour les étiquettes des boutons */
.btn-group{
    width: 80%;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    -o-border-image: linear-gradient(69deg, rgba(255, 230, 0, 0.514), rgba(0, 162, 255, 0.596)) 1;
    border-image: linear-gradient(69deg, rgba(255, 230, 0, 0.514), rgba(0, 162, 255, 0.596)) 1;
    font-size: 20px;
}
.confirmer{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 100px;
    border: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));;
    background: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));
}

.confirmer:hover{
    background: linear-gradient(80deg, #c0c0c0, #c90000);
    color: #ffffff;
}

/* Masque les boutons radio */

.form input[type='radio']{
    opacity: 0;
}



/* Styles pour le bouton de soumission */

input[type='submit']{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;    
}

/* Styles pour la section des citations */

#citations{
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-auteur{
    padding-top: 30px;
    font-size: 14px;
    font-family: 'radjhani';
}

#citations .guillemet-close{
    float: right;
}

.ltr{
    color: rgb(0, 195, 255);
    font-size: 8px;
}

/* Styles pour le pied de page */

footer{
    margin-top: 162px;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px 0;
}

footer .social-item{
    padding: 15px;
}

/* Styles pour le barres de défilement */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #000000;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Styles pour iframes */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}
.image-annonce {
  width: 560px;
  height: 400px;
}

iframe {
  align-self: center;
  width: 560px;
  height: 400px;
  border: none;
  margin: 0 auto;
  display: block;
  border: 0;
}

.video-container.playing .image-bande-annonce {
  display: none;
}
.video-container.playing .play-button {
  display: none;
}
.video-container.playing .video {
  display: block;
}
.hidden {
  display: none;
}




/* Styles pour les appareils mobiles */
@media (max-width: 768px) {

    #batman-cinema .description, #némésis .description, #Alliés .description, #batman-justice-league .description{
        text-align: justify;
        font-size: 13px;
    }

    
    #hero {
        background-image: url(../Illustrations/Bathome1.png);
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: contain;
    }

  nav {
    display: flex;
  }

  nav
  ul{
    display: flex;
  }

  ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
  }


  .logo {
    max-width: 60px;
    margin-bottom: 10px;
    padding: 5px 10px; 
  }

  .content {
    width: 100%;
    padding-top: 100px;
  }

  .scroll{
    display: none;
    position: unset;
  }

  h1,
  h2,
  h3,
  p {
    color: #fff;
    opacity: 1;
    position: relative;
    left: 0;
    animation: none;
  }

  #batman-cinema img,
  #némésis img,
  #Alliés img{
    height: 200px;
    width: 150px;
    margin-left: 0;
  }
 
  .up-bar {
    display: none;
  }

  .left-bar,
  .right-bar {
    display: none;
  }

  .btn {
    font-size: 12px;
    padding: 5px 10px; 
  }

  #hero .fleche {
    margin-top: 220px;
  }

  #multimedia button {
    top: 0;
    left: 0;
    transform: none;
    margin-top: 10px;
    margin-left: 0;
  }

  #multimedia .slider-multimedia {
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
  }

  
  .video-container {
    margin-top: 40px;
  }

  
  #contact .form {
    width: 100%;
    margin-left: 0;
  }

 
  .dropdown {
    width: 100%;
    margin-top: 20px;
  }

  .form {
    padding: 20px;
  }

  .form h2 {
    font-size: 24px;
  }

  .form input[type="email"],
  .form textarea {
    width: 100%;
  }

  .form .dropdown span.icon {
    display: none;
  }

  .form .dropdown-content {
    position: static;
    display: block;
  }

  .container {
    padding: 20px;
  }

  .container .citation-carte {
    padding: 20px; 
  }

  .container .citation-texte {
    font-size: 16px;
  }

    .container .citation-auteur {
    font-size: 12px;
  }
   .slider-multimedia {
    padding: 20px;
  }
  
  
  .left, .right {
    width: 10px;
    height: 10px;
  }
  
  .image-bande-annonce iframe {
    width: 100%;
    height: 200px;
  }
  
  .form {
    padding: 20px;
  }
  
  .form input[type="email"],
  .form textarea,
  .form input[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
  
  .confirmer {
    font-size: 12px;
    padding: 5px 10px; 
    width: 20px;
  }
  
  
  .titre {
    font-size: 18px;
  }

  .imgtxt .superpose,
  .imgtxt .pose{
   width: 20px;
   height: 20px;
  }

}


